[Desktop Entry]
Type=Application
Version=1.0
Name=Install Steam Deck File Transfer
Comment=Install the file receiver and create a Desktop shortcut
Exec=sh -c "exec sh \\\"\\$(dirname \\\"\\$1\\\")/install.sh\\\"" installer %k
Icon=system-software-install
Terminal=false
Categories=Network;Utility;
StartupNotify=true
